@import "../../../../variables";

.auth-background {
  background: url("../../../../assets/images/background.svg") no-repeat left
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 65% 100%;
}

.background-color {
  background-color: $authBackgroundColor;
}

.logo {
  margin-top: 10px;
  width: 150px;
  height: auto;
}

.form-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shadow-light {
  @include shadow-light;
}

.card-signIn {
  min-width: 340px;
  width: 60%;
}

.card-signUp {
  min-width: 350px;
  width: 80%;
}

.rights {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;

  & > span {
    color: $primaryColor;
  }
}

.color-card {
  background-color: rgb(234 232 228);
}
